*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* utils */

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

#app{
  height: 100vh;
}

.top-back{
  height: 20%;
  background-color: rgb(21, 149, 136);
}
.middle-back{
  height: 80%;
  background-color: rgb(218, 219, 212);
}
.container{
  position: absolute;
  min-width: 650px;
  background-color: rgba(187, 62, 62, 0.473);
  top: 20px;
  left: 50px;
  bottom: 20px;
  right: 50px;
}

aside#left{
  float: left;
  width: 35%;
  height: 100%;
  background-color: white;
}

main{
  float: left;
  width: 65%;
  height: 100%;
  background-color: white;
}

/* aside */

/* LEFT-TOP ASIDE */

#left .top-aside{
  height: 40px;
  background-color: rgb(234, 234, 234);
  border-right: 1px solid lightgray;
}

#left .top-aside .left-top-aside{
  float: left;
  padding: 0 10px;
}

#left .top-aside .left-top-aside img{
  width: 30px;
  vertical-align: middle;
  border-radius: 20px;
}
#left .top-aside .left-top-aside span{
line-height: 40px;
font-size: .7rem;
}

#left .top-aside .right-top-aside{
  float: right;
  line-height: 40px;
  padding: 0 10px;
}
#left .top-aside .right-top-aside i{
  padding: 0 4px;
  font-size: .9rem;
  color: rgb(177, 177, 177);
}

/* BANNER NOTIFICHE */

#left .banner-notifiche{
  height: 50px;
  background-color: rgb(145, 218, 250);
}
#left .banner-notifiche .centro-notifiche{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
#left .banner-notifiche .icona-notifica{
  height: 35px;
  width: 35px;
  margin-right: 10px;
  text-align: center;
  line-height: 40px;
  background-color: white;
  color: rgb(145, 218, 250);
  border-radius: 50%;
}
#left .banner-notifiche .centro-notifiche .text-notifiche p{
  font-size: .7rem;
}
#left .banner-notifiche .centro-notifiche .text-notifiche a{
  font-size: .6rem;
  color: rgb(134, 133, 133);
}

/* SEARCH INPUT */

#left .search-input{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  background-color: rgb(250, 250, 250);
}
#left .search-input i{
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: .7rem;
  color: rgba(134, 133, 133, 0.295);
  background-color: white;
  border: 1px solid rgba(211, 211, 211, 0.479);
}
#left .search-input input{
  height: 30px;
  width: calc(100% - 50px);
  padding: 0 10px;
  border: 1px solid rgba(211, 211, 211, 0.479);
  font-size: .6rem;
}

/* CENTRAL ASIDE */

#left .central-aside{
  height: calc(100% - 130px);
  border-right: 1px solid lightgray;
  overflow-y: scroll;
}
#left .central-aside .box{
  position: relative;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.479);
}
#left .central-aside .box img{
  float: left;
  width: 35px;
  border-radius: 50%;
}
#left .central-aside .box .messaggio{
  float: left;
  padding-left: 10px;
}
#left .central-aside .box .messaggio .nome{
  font-size: .8rem;
}
#left .central-aside .box .messaggio .testo-messaggio{
  padding-top: 5px;
  font-size: .6rem;
  color: rgb(179, 176, 176);
}
#left .central-aside .box .orario{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: .4rem;
  color: rgb(179, 176, 176)
}

/* main */

/* TOP MAIN */

main .top-main{
  height: 40px;
  background-color: rgb(234, 234, 234);
}
main .top-main .top-main-left{
  float: left;
}
main .top-main .top-main-left img{
  width: 30px;
  vertical-align: middle;
  border-radius: 20px;
}
main .top-main .top-main-left span{
  line-height: 40px;
  font-size: .7rem;
}
main .top-main .top-main-right{
  float: right;
  line-height: 40px;
  padding: 0 10px;
}
main .top-main .top-main-right i{
  padding: 0 4px;
  font-size: .9rem;
  color: rgb(177, 177, 177);
}

/* CENTRAL MAIN */


main .central-main{
height: calc(100% - 90px);
background-image: url(../img/mine.jpg);
overflow-y: scroll;
}

/* BOTTOM MAIN */


main .bottom-main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  background-color: rgb(243, 238, 234);
}

main .bottom-main input{
  width: 80%;
  height: 60%;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
}